

@media only screen and (max-width: 1200px) {

	/* Weather Forecast Page */
	.date-subtext {
		font-size: 12px;
	}

}


@media only screen and (max-width: 1023px) {

	/* Weather Forecast Page */

	.column {
	    height: 415px;
	}


	.forecast-info {
	    font-size: 11px;
		}

	/* Contact Page */

	#text-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		font-size: 20px;
	}

}


@media only screen and (max-width: 895px) {

	/* Weather Forecast Page */
	#location-header {
		font-size: 35px;
	}

	.weather-forecast-rows img {
		height: 90px;
		width: 90px;
	}
}

@media only screen and (max-width: 767px) {

	/* Weather Forecast Page */

	#location-header {
		font-size: 30px;
	}

	.location-title {
		font-size: 20px;
	}

	.weather-forecast-rows {
		display: flex;
		flex-direction: column;
	}

	.column {
		width: 100%;
		height: 250px;
		display: flex;
		flex-direction: row;
	}

	.info-holder {
		width: 30%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 20px;
		padding: 0 0 0 150px;
	}

	.weather-forecast-rows img {
		height: 125px;
		width: 125px;
	}

	.date-subtext {
		border-bottom: none;
		font-size: 20px;
	}

	.cards {
		width: 100%;
		display: flex;
		padding: 0 0 0 50px;
	}

	.forecast-info {
		font-size: 15px;
	}

	/* Contact Page */

	.block1 {
	    display: inline-block;
	    float: left;
	    width: 100%;
	    height: 55%;
	    padding-left: 1%;
	}

	.block2 {
	    display: none;
	}

	.github-contact {
	    width: 45%;
	    float: left;
	    display: inline-block;
	}

	#img-container {
		display: none;
	}
}


@media only screen and (max-width: 615px) {
	
	/* Weather Forecast Page */

	#location-header {
		font-size: 25px;
	}

	.location-title {
		font-size: 17px;
		padding-top: 10px;
	}
}


@media only screen and (max-width: 540px) {

	/* Weather Forecast Page */

	#overview-info {
		display: flex;
		flex-direction: column;
		height: 1000px;
	}

	#map-inset {
	    width: 99.5%;
	    height: 98%;
	}

	.location-information {
		width: 98%;
		margin: 10px 10px 0 0;
	}

	#location-header {
		font-size: 40px;
	}

	.location-title {
		font-size: 25px;
	}

	.info-holder {
		padding: 0 0 0 75px;
	}
	
	.column {
		width: 98%;
	}

	.cards {
		padding: 0 0 0 30px;
	}

	/* Contact Page */

	.block1 {
	    display: inline-block;
	    float: left;
	    width: 100%;
	    height: 55%;
	    padding-left: 1%;
		}

	#personal-bio {
	    font-family: "Lato";
	    font-size: 25px; 
	    height: 35%;
		}

	.github-contact {
	    width: 65%;
	    float: left;
	    display: inline-block;
		}

}

@media only screen and (max-width: 415px) {

	/* Main Layout */
	header {
		height: 175px;
	}
	
}

