
/* USE CTRL+SHIFT+R TO RELOAD CSS STYLES  */

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*        CSS Variables         */ 
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/


:root {
    --header-footer-color: #9f96b1;
    --background-color: azure;
    --box-color: rgb(150, 150, 150);

    --header-font: 'Permanent Marker', cursive;
    --main-font: 'Jura', sans-serif
}


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  LAYOUT STYLES - layout.html */ 
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

* {
    color: black;
    font-family: var(--main-font);
}

/*~~~~~~~~~~~~~~~~~*/
/*    HEADER       */ 
/*~~~~~~~~~~~~~~~~~*/

header {
    padding: 15px;
    text-align: center;
    background-color: var(--header-footer-color);
    border-radius: 5px;
    padding-bottom: 5px;
    height: 140px;
}

header h1 {
    font-family: var(--header-font);
    font-size: 45px;
    margin: 0;
}

header h2 {
    font-family: var(--header-font);
    font-size: 20px;
    margin: 0;
    padding: 0;
}

nav a {
    outline: none;
    text-decoration: none;
    padding: 5px;
    opacity: .6;
    transition: opacity .2s ease-in-out;
    font-size: 35px;
}

/* style for when hovering over header item */
nav a:hover,
nav a:focus {
  opacity: 1;
}

/*~~~~~~~~~~~~~~~~~*/
/*      BODY       */ 
/*~~~~~~~~~~~~~~~~~*/
body {
    background-color: var(--background-color);
}

/*~~~~~~~~~~~~~~~~~*/
/*      MAIN       */ 
/*~~~~~~~~~~~~~~~~~*/

main {
    display: flex;
    flex-direction: column;
}

/*~~~~~~~~~~~~~~~~~*/
/*     FOOTER      */ 
/*~~~~~~~~~~~~~~~~~*/

footer {
    background-color: var(--header-footer-color);
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    font-size: 20px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    transition: opacity .2s ease-in-out;
}

footer a:hover,
footer a:focus {
  opacity: 1;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*    Homepage - home.html    */ 
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.top-div {
    margin-top: 5px;
    height: 60px;
}

.top-div p {
    text-align: center;
    font-size: 25px;
    margin-bottom: 5px;
}

.content-div {
    width: 100%;
    float: left;
    padding-bottom: 10px;
}

.map {
    height: 600px; 
    width: 100%;
}



/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/* WEATHER FORECAST PAGE - weather_forecast.html */ 
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#overview-info {
    display: flex;
    height: 350px;
}

.location-information {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    background-color:rgb(150, 150, 150);
    border-radius: 5px;
    padding-bottom: 40px;
    margin: 10px 10px 10px 0px;
}

#location-header {
    font-size: 45px;
    border: 3px solid black;
    border-radius: 5px;
    position: relative;
    top: 25px;
}

.location-title {
    display: flex;
    align-items: center;
    font-size: 23px;
    position: relative;
    bottom: 15px;
}

#location {
    position: relative;
    left: 26px;
}

#weather-site {
    position: relative;
    right: 25px;
}

.fixed-text {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
}

#map-inset {
    width: 50%;
    border: .5px solid black;
    border-radius: 5px;
    margin: 10px 0 10px 0;
}

.weather-forecast-rows {
    width: 100%;
    display: flex;
    align-items: space-evenly;
}

.column {
    width: 14%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--box-color);
    border-radius: 10px;
    margin: 2px;
}

.info-holder {
    text-align: center;
}

img {
    width: 110px;
    height: 110px;
    border-radius: 10px;
    margin-top: 15px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.date-subtext {
    border-bottom: 1px solid black;
}

.forecast-info {
    font-size: 14px;
    font-family: "Lato";
    }

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
/*  CONTACT PAGE - contact.html  */ 
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

#parent-container {
    display: flex;
    width: 100%;
    background-color: var(--box-color);
}

#text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--box-color);
    font-size: 25px;
    border-radius: 10px;
}

#text-container p {
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;
}

#contact-info {
    display: flex;
    justify-content: center;
}

.contact-image {
    width: 50px;
    height: 50px;
    padding: 10px;
    background-color: var(--box-color);
    transition: background-color .2s ease-in-out;
}

.contact-image:hover {
    background-color: var(--background-color);
    border-radius: 5px;
}

#img-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

#img-container img {
    height: 400px;
    width: 400px;
    padding: 10px;
}



