<!DOCTYPE html>

<!-- Inherits all code outside <body> tag from index.html -->
{% extends "layout.html" %}

{% block content %}

    <h2> Contact Page </h2>

    <div class='parent'>
        <div class='block1'> 
            <p id="personal-bio">Thanks for checking out my climbing weather application. I built it for several reasons:
            <p id="reasons">1. Learn the Flask python web framework</p>
            <p id="reasons">2. Learn web design basics </p>
            <p id="reasons">3. Satisfy my itch to build a functional climbing weather app that serves climbers in finding dry rock.</p>
            <p id="personal-bio"> Contact: epurpur@gmail.com</p>
            <div class="github-contact">
                <a href="https://github.com/epurpur/Climbing-Weather-App">
                    <p id="personal-bio"> Check me out on github </p>
                </a>
            </div>
            <div class="github-icon">
                <a href="https://github.com/epurpur/Climbing-Weather-App">
                <img src="/static/img/github.svg" alt="github logo" class="github-icon">
                </a>
            </div>
            
        </div>
        <div class='block2'>
            <img src="/static/img/ErichPic.png" alt="Erich Pic" class="head-shot">
        </div>
  
        

    </div>



{% endblock content %}