<!DOCTYPE html>

<!-- Inherits all code outside <body> tag from index.html -->
{% extends "layout.html" %}

{% block content %}

    <section>
        <div id='parent-container'>
            <section id='text-container'>
                <p>Thanks for checking out my climbing weather app. I built it for the following reasons:</p>
                    <ul>
                        <li>Learn the python flask web framework</li>
                        <li>Learn the basics of web design</li>
                        <li>Build a functional application that serves climbers in finding dry rock</li>
                    </ul>
                <p>Contact Me</p>
                <div id="contact-info">
                    <a href="mailto:epurpur@gmail.com" target="_blank"><img class="contact-image" src="/static/img/email.png" alt="email link with letter icon"></a> 
                    <a href="https://www.linkedin.com/in/erich-purpur-140a1433/" target="_blank"><img class="contact-image" src="/static/img/linkedin.png" alt="LinkedIn logo"></a> 
                    <a href="https://github.com/epurpur" target="_blank"><img class="contact-image" src="/static/img/github.png" alt="Github logo"></a> 
                    <a href="https://gis.stackexchange.com/users/118507/erich-purpur" target="_blank"><img class="contact-image" src="/static/img/stackoverflow.png" alt="StackOverflow logo"></a> 
                </div>
            </section>
            <section id='img-container'>
                <img src="/static/img/ErichPic.png">
            <section>
        </div>

    </section>


{% endblock content %}