<!DOCTYPE html>

<!-- Inherits all code outside <body> tag from layout.html -->
{% extends "layout.html" %}

{% block content %}

    <section class="overview-info">
        <section class="location-information">
            <p id="location-header"> Location Information </p>
            <div class='location-title'>
                <p class="fixed-text">Climbing Area</p>
                <p class="flask-variable">{{ climbing_area }}</p>
            </div>
            <div class='location-title'>
                <p class="fixed-text">Location</p>
                <p class="flask-variable">{{ lat }}, {{ lon }}</p>
            </div>
            <div class='location-title'>
                <p class="fixed-text">Weather Site</p>
                <p class="flask-variable">{{ weather_site }}</p>
            </div>
        </section>
        
        <section id="map-inset">

            <script>
                // Initialize and add the map
                function initMap() {
                // The location of climbing area
                var center = {lat: {{ lat }}, lng: {{ lon }}};
                // The map, centered at climbing area
                var map = new google.maps.Map(
                document.getElementById('map-inset'), {zoom: 8, center: center});
            
                setMarkers(map);
                };
        
                function setMarkers(map) {
                // Adds Markers to the map
                
                // Marker sizes are expressed as a Size of X,Y where the origin of the image
                // (0,0) is located in the top left of the image.

                // Origins, anchor positions and coordinates of the marker increase in the X
                // direction to the right and in the Y direction down.
                    var image = {
                        url:"http://maps.google.com/mapfiles/ms/icons/purple-dot.png",
                        // this marker is 40 pixels wide by 40 pixels high
                        size: new google.maps.Size(40, 40),
                        // the origin for this image is (0,0)
                        origin: new google.maps.Point(0,0),
                        // the anchor for this image is tthe base of the flagpole at (0, 32)
                        anchor: new google.maps.Point(0, 32)
                    };
                    // Shapes define the clickable region of the icon. The type defines an HTML
                    // <area> element 'poly' which traces out a polygon as a series of X,Y points.
                    // The final coordinate closes the poly by connecting to the first coordinate.
                
                    {% for site in sites %} //iterate through sites using python loop instead of javascript loop
                
                        var site = site;
                
                        var content_string = '<div id="content">'+
                                '</div>'+
                                '<h1 id="header"> {{ site[2] }} </h1>' +
                                '<div id="bodyContent">'+
                                '<p>State: {{ site[0] }} </p>'+
                                '<p>Weather Site: {{ site[1] }}</p>' +
                                '<p> <a href="/weather_forecast/{{ site[2] }}/{{ site[3] }}/{{ site[4] }}/{{ site[5] }}/{{ site[1] }}"> See Forecast </a> </p>'
                                '</div>';
                                // the <a></a> tag is what passes variables back to weather_app_main.py
                
                        var marker = new google.maps.Marker({                             //place marker at site lat/lon
                                position: {lat: {{ site[4] }}, lng: {{ site[5] }} },
                                map: map,
                                icon: image
                                });
                
                        marker.content = content_string;    // add content as property to marker object
                
                        var info_window = new google.maps.InfoWindow();
                
                        google.maps.event.addListener(marker, 'click', function() {
                                                        info_window.setContent(this.content);
                                                        info_window.open(map, this);
                        });
                
                    {% endfor %}
                
                    };
            
                    </script>
    
            <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ config['GOOGLE_MAPS_JS_API_KEY'] }}&callback=initMap"></script>
        </section>
    </section>



    
    <section class="row">
        <div class="column">
            <img src="{{ wf.image_choice(lat, lon, city_id)[0] }}" alt="daily weather image">
            <p class="date-text"> {{ dates[0] }} </p>
            <p class="date-subtext"> Two Days Ago </p>
            <p class="forecast-info"><em>Hi Temp: </em> {{ wf.get_historical_weather(lat, lon)[0][2][1] }} </p>
            <p class="forecast-info"><em>Lo Temp: </em> {{ wf.get_historical_weather(lat, lon)[0][2][0] }} </p>
            <p class="forecast-info"><em>Daily Precip: </em> {{ wf.get_historical_weather(lat, lon)[0][0] }} in </p>
            <p class="forecast-info"><em>Avg Wind: </em> {{ wf.get_historical_weather(lat, lon)[0][1] }} mph </p> 
            <p class="forecast-info"><em>Humidity: </em> {{ wf.get_historical_weather(lat, lon)[0][3] }}% </p>
        </div>
        <div class="column">
            <img src="{{ wf.image_choice(lat, lon, city_id)[1] }}" alt="daily weather image">
                <p class="date-text"> {{ dates[1] }} </p>
                <p class="date-subtext"> Yesterday </p>
                <p class="forecast-info"><em>Hi Temp: </em> {{ wf.get_historical_weather(lat, lon)[1][2][1] }} </p>
                <p class="forecast-info"><em>Lo Temp: </em> {{ wf.get_historical_weather(lat, lon)[1][2][0] }} </p>
                <p class="forecast-info"><em>Daily Precip: </em> {{ wf.get_historical_weather(lat, lon)[1][0] }} in </p>
                <p class="forecast-info"><em>Avg Wind: </em> {{ wf.get_historical_weather(lat, lon)[1][1] }} mph </p> 
                <p class="forecast-info"><em>Humidity: </em> {{ wf.get_historical_weather(lat, lon)[1][3] }}% </p>
        </div>
        <div class="column">
            <img src="{{ wf.image_choice(lat, lon, city_id)[2] }}" alt="daily weather image">
            <p class="date-text"> {{ dates[2] }} </p>
            <p class="date-subtext"> Today </p>
            <p class="forecast-info"><em>Hi Temp: </em> {{ wf.format_daily_forecast(city_id)[0][0] }} </p>
            <p class="forecast-info"><em>Lo Temp: </em> {{ wf.format_daily_forecast(city_id)[0][1] }} </p>
            <p class="forecast-info"><em>Daily Precip: </em> {{ wf.format_daily_forecast(city_id)[0][2] }} in </p>
            <p class="forecast-info"><em>Avg Wind: </em> {{ wf.format_daily_forecast(city_id)[0][3] }} mph </p>
            <p class="forecast-info"><em>Humidity: </em>{{ wf.format_daily_forecast(city_id)[0][4] }}% </p>
        </div>
        <div class="column">
            <img src="{{ wf.image_choice(lat, lon, city_id)[3] }}" alt="daily weather image">
            <p class="date-text"> {{ dates[3] }} </p>
            <p class="date-subtext"> Tomorrow </p>
            <p class="forecast-info"><em>Hi Temp: </em> {{ wf.format_extended_forecast(city_id)[0][0] }} </p>
            <p class="forecast-info"><em>Lo Temp: </em> {{ wf.format_extended_forecast(city_id)[0][1] }} </p>
            <p class="forecast-info"><em>Daily Precip: </em> {{ wf.format_extended_forecast(city_id)[0][2] }} in </p>
            <p class="forecast-info"><em>Avg Wind: </em> {{ wf.format_extended_forecast(city_id)[0][3] }} mph </p>
            <p class="forecast-info"><em>Humidity: </em> {{ wf.format_extended_forecast(city_id)[0][4] }}% </p>
        </div>
        <div class="column">
            <img src="{{ wf.image_choice(lat, lon, city_id)[4] }}" alt="daily weather image">
            <p class="date-text"> {{ dates[4] }} </p>
            <p class="date-subtext"> Two Days From Now </p>
            <p class="forecast-info"><em>Hi Temp: </em> {{ wf.format_extended_forecast(city_id)[1][0] }} </p>
            <p class="forecast-info"><em>Lo Temp: </em> {{ wf.format_extended_forecast(city_id)[1][1] }} </p>
            <p class="forecast-info"><em>Daily Precip: </em> {{ wf.format_extended_forecast(city_id)[1][2] }} in</p>
            <p class="forecast-info"><em>Avg Wind: </em> {{ wf.format_extended_forecast(city_id)[1][3] }} mph </p>
            <p class="forecast-info"><em>Humidity: </em> {{ wf.format_extended_forecast(city_id)[1][4] }}% </p>
        </div>
        <div class="column">
            <img src="{{ wf.image_choice(lat, lon, city_id)[5] }}" alt="daily weather image">
            <p class="date-text"> {{ dates[5] }} </p>
            <p class="date-subtext"> Three Days From Now </p>
            <p class="forecast-info"><em>Hi Temp: </em> {{ wf.format_extended_forecast(city_id)[2][0] }} </p>
            <p class="forecast-info"><em>Lo Temp: </em> {{ wf.format_extended_forecast(city_id)[2][1] }} </p>
            <p class="forecast-info"><em>Daily Precip: </em> {{ wf.format_extended_forecast(city_id)[2][2] }} in</p>
            <p class="forecast-info"><em>Avg Wind: </em> {{ wf.format_extended_forecast(city_id)[2][3] }} mph </p>
            <p class="forecast-info"><em>Humidity: </em> {{ wf.format_extended_forecast(city_id)[2][4] }}% </p>
        </div>
        <div class="column">
            <img src="{{ wf.image_choice(lat, lon, city_id)[6] }}" alt="daily weather image">
            <p class="date-text"> {{ dates[6] }} </p>
            <p class="date-subtext"> Four Days From Now </p>
            <p class="forecast-info"><em>Hi Temp: </em> {{ wf.format_extended_forecast(city_id)[3][0] }} </p>
            <p class="forecast-info"><em>Lo Temp: </em> {{ wf.format_extended_forecast(city_id)[3][1] }} </p>
            <p class="forecast-info"><em>Daily Precip: </em> {{ wf.format_extended_forecast(city_id)[3][2] }} in</p>
            <p class="forecast-info"><em>Avg Wind: </em> {{ wf.format_extended_forecast(city_id)[3][3] }} mph </p>
            <p class="forecast-info"><em>Humidity: </em> {{ wf.format_extended_forecast(city_id)[3][4] }}% </p>
        </div>
            
    </section>




{% endblock content %}